.pl10 {padding-left: 10px;}
.pr10 {padding-right: 10px;}
.pr15 {padding-right: 15px;}
.pt5 {padding-top: 5px;}
.pb5 {padding-bottom: 5px;}

.h20 {height: 20px;}
.h100p {
    height: 100%;
}


.w65 {
    width: 65px;
}
.w125 {
    width: 125px;
}

.w20p {
    width: 20%;
}
.w30p {
    width: 30%;
}
.w70p {
    width: 70%;
}
.w80p {
    width: 80%;
}
.w100p {
    width: 100%
}

.p15 {
    padding: 15px;
}

.fs12 {font-size: 12px;}

.left {
    float: left;
}
.right {
    float: right;
}

.br {
    border-right: 1px solid #ccc;
}

ul {
    -webkit-padding-start: 0px !important;
}

.inline-block {
    display: inline-block;
}
.inline {
    display: inline;
}

.ellipse {
    display: inline-block;
    border: 1px solid;
    width: 80px;
    text-align: center;
    border-radius: 15px;
}

.cursor{
    cursor: pointer;
}
.hide {
    display: none;
}