.cruise {
    padding: 0px 30px;
}

.cruise-header {
    overflow: hidden;
    zoom: 1;
}

h2 {
    float: left;
    margin: 0;
    font-size: 40px;
}

.tabs {
    text-align: right;
    margin-bottom: -3px;
}

ul.tabs li {
    display: block;
    position: relative;
    display: inline-block;
    margin-bottom: -1px;
}

ul.tabs li a {
    position: relative;    
    text-decoration: none;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 2px solid #232222;
    border-bottom-color: transparent;
    border-radius: 10px 10px 0 0;
    display: block;
    padding: 10px 15px;
    color: #337ab7;
}

ul.tabs li.active a {
    color: #fff;
    cursor: default;
    background-color: #545353;
    padding-top: 15px;
}

.tab-content {
    border: 2px solid #232222;
    border-top: none;
}

.tab-content .tab-panel {
    display: none;
}
.tab-content .tab-panel.active {
    display: block;
}

.tab-content .content-header {
    padding: 15px;
    background-color: #545353;
    color: #e0dfdf;
    border-bottom: 2px solid #232222;
}

.tab-content .content-header span {
    margin: 0px 20px;
}

.agent .content-body {
    zoom: 1;
    overflow: hidden;
}

.agents-list {
    margin-top: 0px;
}

.agents-list>li {
    padding: 10px;
    margin: 15px;
    display: block;
    border: 1px solid #444;
    border-radius: 6px;
    /**清除浮动*/
    overflow: hidden;
    zoom: 1;
}

.circle {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: #929292;
    border-radius: 20px;
}

.split::before {
    content: "|";
    color: #bbb;
    padding: 5px;
}

.add-resources:before{
  content: "+";
  font-weight: 900;
  padding-right: 2px;
}

.popover {
    position: absolute;
    left: 110px;
    height: 85px;
    width: 45%;
    z-index: 1060;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    background-color: #e0edd4;
    background-clip: padding-box;
    border: 3px solid #553d00;
    border-radius: 18px;
    padding: 10px;
}

.popover .arrow, .popover .arrow::after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.popover>.arrow {
    top: -50px;
    left: 50px;
    border-bottom-color: #553d00;
    border-width: 25px;
}
.popover>.arrow::after {
    top: -22px;
    margin-left: -27px;
    content: " ";
    border-top-width: 0;
    border-bottom-color: #e0edd4;
    border-width: 27px;
}

.popover .tip {
    -webkit-margin-before: 5px;
    -webkit-margin-after: 5px;
}

.popover>input {
    width: 100%;
    font-size: 12px;
    margin: 5px 0;
}

.popover button {
    border-radius: 15px;
    border-color: black;
    padding: 4px;
}

ul.resources {
    display: inline-block;
}
ul.resources li {
    display: inline;
    padding-left: 20px;
}
ul.resources li>span::before {
    content: '\00d7';
}
ul.resources li>span {
    font-weight: 700;
    color: #99a390;
    border: 1px solid #ccc;
    border-width: 2px;
    height: 12px;
    line-height: 10px;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 2px;
}
ul.resources li:first-child {
    padding-left: 5px;
}

.aside {
    width: 25%;
    padding: 20px;
    font-size: 14px;    
    border-left: 2px solid #bbbbbb;
}

.summary, .history {
    padding-bottom: 20px;
}

.summary .title, .history .title {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.history ul {
    margin-top: 5px;
}

.history li {
    display: block;
    padding: 5px 0;
}