.cruise {
    padding: 0px 30px;
}

.tabs {
    border-bottom: 1px solid #ddd;
    text-align: right;
    margin-bottom: 0px;
}

ul.tabs li {
    display: block;
    position: relative;
    display: inline-block;
    margin-bottom: -1px;
}

ul.tabs li a {
    position: relative;    
    text-decoration: none;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid #ccc;
    border-radius: 10px 10px 0 0;
    display: block;
    padding: 10px 15px;
    color: #337ab7;
}

ul.tabs li.active a {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.tab-content {
    border: 1px solid #ccc;
    border-top: none;
}

.tab-content .tab-panel {
    display: none;
}
.tab-content .tab-panel.active {
    display: block;
}

.tab-content .content-header {
    padding: 15px;
    background-color: #545353;
    color: #e0dfdf;
}

.tab-content .content-header span {
    margin: 0px 20px;
}

.agents .content-body :first-child {
    border-right: 1px solid #ccc;
}

.agents-list {
    padding: 10px;
    margin-top: 0px;
}

.agents-list li {
    padding: 10px;
    margin: 15px 10px;
    display: block;
    border: 1px solid #444;
    border-radius: 6px;
    /**清除浮动*/
    overflow: hidden;
    zoom: 1;
}

.circle {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: #ccc;
    border-radius: 20px;
}

.split::before {
    content: "|";
    color: #bbb;
    padding: 5px;
}

.add:before{
  content: "+";
  font-weight: 900;
  padding-right: 2px;
}

.popover {
    position: absolute;
    top: 275px;
    left: 110px;
    line-height: 70px;    
    height: 80px;
    width: 45%;
    z-index: 1060;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    background-color: #e0edd4;
    background-clip: padding-box;
    border: 3px solid #553d00;
    border-radius: 18px;
    padding: 10px;
}

.popover .arrow, .popover .arrow::after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.popover>.arrow {
    top: -50px;
    left: 50px;
    border-bottom-color: #553d00;
    border-width: 25px;
}
.popover>.arrow::after {
    top: -24px;
    margin-left: -27px;
    content: " ";
    border-top-width: 0;
    border-bottom-color: #e0edd4;
    border-width: 27px;
}